<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--加载db.properties-->
    <context:property-placeholder location="classpath:db.properties"></context:property-placeholder>
    <!-- 自动扫描组件，需要把controller去掉，否则影响事务管理 -->
    <context:component-scan base-package="com">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />
    </context:component-scan>

    <!--配置数据源-->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="user" value="${uname}"></property>
        <property name="password" value="${upass}"></property>
        <property name="jdbcUrl" value="${url}"></property>
        <property name="driverClass" value="${driver_Class}"></property>
        <property name="initialPoolSize" value="${initPoolSize}"></property>
        <property name="maxPoolSize" value="${maxPoolSize}"></property>
    </bean>
    <!--配置sqlsessionfacory-->
     <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
         <!--映射数据源-->
          <property name="dataSource" ref="dataSource"></property>
         <!--加载mybatis文件-->
          <property name="configLocation" value="classpath:mybatis-config.xml"></property>
         <!--加载映射文件-->
           <property name="mapperLocations" value="classpath:com/ssm/entity/*.xml"></property>
     </bean>

      <!--配置dao的接口-->
      <bean id="scannerConfigurer"  class="org.mybatis.spring.mapper.MapperScannerConfigurer">
          <property name="basePackage" value="com.ssm.dao"></property>
      </bean>

    <!--配置Dao,personDao-->
    <!--<bean id="iUserDaos" class="org.mybatis.spring.mapper.MapperFactoryBean">-->
        <!--<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>-->
        <!--<property name="mapperInterface" value="com.ssm.dao.IUserDaos"></property>-->
    <!--</bean>-->

</beans>